body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;/*要素の内側の余白　上下5px, 左右20px*/
    background-color: #337ab7;
    border-style: none;
    color: #fdffff;
}
/*margin vs padding
margin-->borderより外の余白
padding-->borderより内側（詰め物）の余白*/

input {
    height: 20px;
    /*input欄の高さをボタンと合わせる*/
}
